@font-face {
  font-family: "transat-bold";
  src: url(../fonts/transat_bold-webfont.woff), url(../fonts/transat_bold-webfont.woff2);
  font-style: normal;
  font-weight: bold;
}

@tailwind preflight;

.banner {
  height: 100vh;
  background-color: #0f2f21;
  background-size: cover;
  background-image: url(../images/estate_banner.jpg);

  @media screen and (max-width: 576px) {
    height: 100vw;
  }
}

footer {
  background: url(../images/estate_footer.jpg);
  background-size: 8px auto;
}
.body-font {
  @apply .font-serif;
}

.body-font:lang(zh) {
  @apply .font-sans .font-thin;
}


.main-nav:lang(zh) > a {
  @media screen and (max-width: 576px) {
    font-size: 80%;
  }
}

@tailwind utilities;